#container {
    width: 200px;
    height: 200px;
    background: green;
    position: relative; /* In order to animate the box relative to the box use relative */
}
#box {
    width: 50px;
    height: 50px;
    background: red;
    position: absolute; 
}
